<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727030931518-8o1f8m86kvpd08rhvdctosl70tn3p6d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727030931518-8o1f8m86kvpd08rhvdctosl70tn3p6d0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbi_J8ImR3VSHmgzg1v59xkvfRVMECuag</string>
	<key>GCM_SENDER_ID</key>
	<string>727030931518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marshal.iina</string>
	<key>PROJECT_ID</key>
	<string>unaapp-63e03</string>
	<key>STORAGE_BUCKET</key>
	<string>unaapp-63e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727030931518:ios:00b2aad9a7a3a0fd</string>
	<key>DATABASE_URL</key>
	<string>https://unaapp-63e03.firebaseio.com</string>
</dict>
</plist>